# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Mount vmbootsys partition to /vm-bootsys mount point
SourcePath=/etc/initscripts/vm-bootsys-ubi-mount.sh
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
PassEnvironment="SLOT_SUFFIX"
ExecStart=/etc/initscripts/vm-bootsys-ubi-mount.sh

[Install]
WantedBy=local-fs.target
