ACTION=="add", KERNEL=="mhi*", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="android_adb", SUBSYSTEM=="mhi", OWNER="adb", GROUP="adb", MODE="0664"
